.cabecalho__menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url('../img/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container span {
    margin: 0 1em;
    padding: 1em;
}

.container__imagem {
    padding: 0 0.5em;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao:checked~.container__rotulo > .cabecalho__menu-hamburger {
    background-image: url('../img/MenuAberto.svg');
    padding: 1em;
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.container__botao {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60vw;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes, .container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 0em 3em;
    } 

    .container__link > .container__imagem {
        padding: 0em 1.5em;
    }

    .cabecalho__menu-hamburger {
        display: none;
    }

    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 2em 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    } 

    .opcoes__botao {
        display: none;
    }

    .lista-menu {
        left: auto;
    } 

    .lista-menu__item {
        padding: 1em 1.7em;
    }    

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .container__texto {
        display: none;
    } 
}

@media screen and (min-width: 1728px) {
    .container__imagem {
        padding: 0.5em 1em;
        margin-left: 3em;
    }

    .container__texto {
        display: block;
        font-size: 20px;
        line-height: 30px;
        color: var(--preto);
    }

    .container__texto:hover {
        text-decoration: underline;
    }
    
    .container__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-right: 2.5em;
    }

    .container__link + .container__link {
        margin-right: 3em;
    }

    .container__link > .container__imagem {
        padding-right: 0em;
        padding-left: 0em;
        margin-left: 0em;
    }

    .opcoes {
        padding-left: 4em;
        margin-right: auto;
    }

    .opcoes__link:hover {
        text-decoration: underline;
    }

}
